html, body
{
   height: 100%;
   margin: 0px;
   padding: 0px;
}
.output
{
	height:100%;
   font-family: monospace;
   font-size:10pt;
	overflow-y:scroll;
	overflow-x:hidden;
   -webkit-user-select: text;
}
.heighttext{
   font-family: monospace;
   font-size:10pt;
   width:100%;
}
.heighttext:focus {
   outline:none;
}
div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 10px;
  pointer-events: none;
}
