html, body
{
   height: 100%;
   margin: 0px;
   padding: 0px;
}
.output
{
	height:100%;
   font-family: monospace;
   font-size:10pt;
	overflow-y:scroll;
	overflow-x:hidden;
   -webkit-user-select: text;
}
.heighttext{
   font-family: monospace;
   font-size:10pt;
   width:100%;
}
.heighttext:focus {
   outline:none;
}
div.smoothie-chart-tooltip {
  background: #444;
  padding: 1em;
  margin-top: 20px;
  font-family: consolas;
  color: white;
  font-size: 10px;
  pointer-events: none;
}
.scopeview { 
  height:40vh; 
  display: grid; 
  grid-template-rows: 100px; 
  grid-template-columns: 76% 24%; 
} 
article { 
  grid-column-start:1; 
  grid-column-end:1; 
  grid-row-start:1; 
  grid-row-end:1; 
} 
aside { 
  grid-column-start:2; 
  grid-column-end:2; 
  grid-row-start:1; 
  grid-row-end:1; 
} 
.slider {
    -webkit-appearance: none;
    width: 82%;
    height: 10px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}